---
title: Features
features: selected
permalink: /features/
---

{% include header.html %}
{% include content.html %}
<div class="row feature-row">
  <div class="col-md-3 col-xs-6">
    <div align="center"><i class="icon-layers-alt"></i></div>
  <div class="caption">
        <h3>Layers</h3>
        <p>Seldon can display multiple layers of data color-coded and in a legend for your analysis.</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
      <div align="center"><i class="fa fa-globe"></i></div>
  <div class="caption">
        <h3>Multi-map Views</h3>
        <p>Switch between different map views to see Terrain, Topography, Imagery, Relief, and more.</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
      <div align="center"><i class="fa fa-print"></i></div>
  <div class="caption">
        <h3>Print View</h3>
        <p>Don't worry about making it all fit onto a page. There's a print button to make your page look great!</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
    <div align="center"><i class="icon-mask"></i></div>
  <div class="caption">
        <h3>Masking</h3>
        <p>Conceal and reveal by data type. Wetland only, or Forest only, etc.</p>
      </div>
  </div>
</div>

<div class="row feature-row">
  <div class="col-md-3 col-xs-6">
    <div align="center"><i class="fa fa-bar-chart"></i></div>
  <div class="caption">
        <h3>Multigraph Integration</h3>
        <p>Integrate <a href="//multigraph.org">Multigraphs</a> to display data over a time period.</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
      <div align="center"><i class="fa fa-map-marker"></i></div>
  <div class="caption">
        <h3>Identity Tool</h3>
        <p>Click a location and find metadata about a particular point on the map!</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
      <div align="center"><i class="fa fa-link"></i></div>
  <div class="caption">
        <h3>URL Sharing</h3>
        <p>Need to share the exact same map you're viewing? Easily create a link to share with others.</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-6">
      <div align="center"><i class="fa fa-mobile"></i></div>
  <div class="caption">
        <h3>Mobile Supported</h3>
        <p>Need to browse on a mobile device? No problem, the pages are responsive!</p>
      </div>
  </div>
</div>

{% include end.html %}
