@charset "utf-8";
/* CSS Document */

* html .gainlayout {
	height:1%;
}

body, td, th {
	font-family:Arial, Helvetica, sans-serif;
	color:#222;
	font-size:11pt;
    padding:0px;
    margin:0px;    
}

h2 {
	color:#e6e4d8;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-1px;
	margin: 0 auto 0 auto;
	font-size:1.25em;
}

#titleBar {
	position:relative;
	border-bottom:#666 thin solid;
	z-index:1999;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;

}   

#header {
	position:relative;
	border-bottom:#666 thin solid;
	z-index:2000;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#btntgllyrpick, #btnhelp, #btntgllegend {
	display:inline;
}

#map {
   border: 1px solid black;
   position: absolute;
   bottom: 0px;
   top: 0px;
   left: 0px;
   right: 0px;
   z-index:0;
}

.leftbuttons {
	text-align:left;
	width:20%;
}

#footer {
	position:absolute;
	border-bottom:#666 thin solid;
	z-index:2001;
    bottom: 0px;
    width: 100%;
}

#customZoom {
    z-index: 1001;
    position:absolute;
    right:100px;
    top:100px;
}