@charset "utf-8";
/* CSS Document */

* html .gainlayout {
	height:1%;
}


h2 {
	color:#e6e4d8;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-1px;
	margin: 0 auto 0 auto;
	font-size:1.25em;
}

#header {
	position:absolute;
	border-bottom:#666 thin solid;
	z-index:2000;
}

#btntgllyrpick, #btnhelp, #btntgllegend {
	display:inline;
}

#map {
   border: 1px solid black;
   position: absolute;
   bottom: 0px;
   top: 0px;
   left: 0px;
   right: 0px;
   z-index:0;
}

.leftbuttons {
	text-align:left;
	width:20%;
}