---
title: An OpenLayers WebGIS
about: selected
---

{% include header.html %}
{% include inc.prettify.html %}
{% include content.html %}

      <div class="jumbotron">
        <h1><i class="icon-layers"></i>Seldon</h1>
          <p class="lead">An OpenLayers Web-GIS.</p>
          <p>Seldon is a GIS viewer built upon the OpenLayers framework. Rendered with HTML5 & JavaScript it is compatible with modern web browsers and mobile devices.</p>
      </div>

        <div class="row">
          <div class="col-lg-4 panning">
            <h1><i class="icon-layers-alt"></i></h1>
            <h2>Layers</h2>
            <p>Just click and drag with your mouse (or finger) to drag the graph up and down!</p>
          </div>
            <div class="col-lg-4 zooming">
              <h1><i class="icon-globe"></i></h1>
              <h2>Multi-map views</h2>
              <p>Scroll in or scroll out using your mouse! Have hands? Just pinch to zoom!</p>
          </div>
          <div class="col-lg-4 integrating">
            <h1><i class="icon-mobile"></i></h1>
            <h2>Mobile supported</h2>
            <p>Just a few lines of code! Learn how to make your own graphs <a href="#">here</a>!</p>
          </div>
        </div><br />

        <!--<p class="get-started">To get started with Multigraph, head over to our <a href="/download">download page</a>. After there, learn how to integrate Multigraph onto your site by taking a look at the <a href="/integrate">integrate page</a>.</p><br />

        <div class="list-group">
          <a href="/docs/annotated-mugl" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-pencil-square-o"></i> How to create a Multigraph</h4>
            <p class="list-group-item-text">Check out how to program your own Multigraph with MUGL.</p>
          </a>
          <a href="/examples" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-laptop"></i> See example graphs</h4>
            <p class="list-group-item-text">Want to see Multigraph in action? View our example graphs ranging from simple to complex; giving you an idea of all the types of graphs you can make!</p>
          </a>
        </div>

        <div class="list-group">
          <a href="//github.com/multigraph/js-multigraph/issues" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-bug"></i> Report a bug</h4>
            <p class="list-group-item-text">Found a bug? Need to ask a question? Use our GitHub issue tracker.</p>
          </a>
          <a href="/credits" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-users"></i> Who made Multigraph?</h4>
            <p class="list-group-item-text">Developers at NEMAC created Multigraph in order to display scientific data in an easy-to-use way on the web.</p>
          </a>
        </div>-->

{% include end.html %}
