---
title: An OpenLayers WebGIS
about: selected
---

{% include header.html %}
{% include content.html %}

      <div class="jumbotron">
        <h1><i class="icon-layers"></i>Seldon</h1>
          <p class="lead">An OpenLayers Web-GIS.</p>
          <p>Seldon is a GIS viewer built upon the OpenLayers framework. Rendered with HTML5 & JavaScript it is compatible with modern web browsers and mobile devices.</p>
      </div>

    <h2>Let's talk about Maps...</h2>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

        <div class="row">
          <div class="col-lg-4 panning">
            <h1><i class="icon-layers-alt"></i></h1>
            <h2>Layers</h2>
            <p>Just click and drag with your mouse (or finger) to drag the graph up and down!</p>
          </div>
            <div class="col-lg-4 zooming">
              <h1><i class="icon-globe"></i></h1>
              <h2>Multi-map views</h2>
              <p>Scroll in or scroll out using your mouse! Have hands? Just pinch to zoom!</p>
          </div>
          <div class="col-lg-4 integrating">
            <h1><i class="icon-mobile"></i></h1>
            <h2>Mobile supported</h2>
            <p>Need to browse on a mobile device? No problem, the pages are responsive!</p>
          </div>
        </div><br />

{% include end.html %}
