<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Seldon - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Seldon, NEMAC, openlayers, web gis, openlayers gis">
    <meta name="description" content="Seldon is a GIS viewer built upon the OpenLayers framework. Rendered with HTML5 & JavaScript it is compatible with modern web browsers and mobile devices.">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fontello.css">
    <!--<link href="/css/font-awesome.css" rel="stylesheet">-->